*{
    margin: 0;
    padding: 0;
}
nav{
    color: white;
    background-color: black;
    padding:15px;
}
h1,ul,li{
    display:inline;
}
ul{
    float: right;
}
li{
    color:gray;
    cursor:pointer;
}
li:hover{
    color:white;
}
input{
    width: 60%;
    padding:15px;
}
.search{
    padding: 50px;
    text-align: center;
}
.box{
    border: 2px solid black;
    display: inline-block;
    width: 300px;
    margin: 15px;
    padding: 10px;
    vertical-align: top;
}
.product{
    text-align: center;
}
.box:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
.about{
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}
.box img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
